@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-sohne: 'Sohne', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                  Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  
  /* Apply the font family to your elements */
  body {
    font-family: var(--font-sohne);
  }
  
  /* You can also apply specific styles for your article title */
  .article-title {
    font-family: var(--font-sohne);
    font-weight: 700;
  }